h1 {
    text-align: center;
    padding-top: 130px;
    font-size: 3em;
}

.container1 {
    background-color: #a7a7a7;
    position: relative;
    margin-top: 50px;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container2 {
    /* background-color: salmon; */
    background-image: url(imgBooking/counter.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2em;
    font-weight: 550;
    width: 800px;
    height: 530px;
    margin: 80px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px rgba(48, 48, 48, 0.8);
}

.body1 {
    background-color: rgba(255, 255, 255, 0.8);
    clip-path: polygon(0 0, 70% 0, 50% 100%, 0% 100%);
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
    height: 510px;
    padding-left: 20px;
    padding-top: 20px;
    /* color: seashell; */
}

.body1 #message1,
.body1 #message2,
.body1 #message3,
.body1 #message4 {
    font-size: 12px;
    color: rgb(255, 62, 62);
}

.container2 .block {
    display: flex;
    flex-direction: column;
    margin: 5px 10px;

}

.container2 .check {
    display: flex;
    width: 365px;
    /* background-color: sienna; */
    justify-content: space-between;
}

.container2 .drop {
    display: flex;
    justify-content: space-between;
    width: 280px;
    /* background-color: silver; */
}

.container2 .block input,
.container2 .block select {
    border: none;
    /* border-bottom: 1px solid black;
    background: transparent; */
    background: rgb(255, 255, 255);
    outline: none;
    height: 35px;
    font-family: 1em;
    border-radius: 3px;
    padding: 0 5px;
    
}

button {
    width: 100px;
    height: 40px;
    background-color: #111111;
    /* color: rgb(255, 62, 62); */
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 50px;
    font-size: 1.2em;
    /* font-weight: 450; */
    margin: 10px;
    position: relative;
    left: 130px;
    transition: transform .2s ease-in-out, box-shadow .2s ease-in-out;
}

.container2 button:hover {
    color: rgb(255, 62, 62);
    transform: translateY(-2px);
    box-shadow: 1px 1px 2px 1px rgba(48, 48, 48, 0.8);
}

.container2 .check input {
    width: 100%;
}

.container2 .name input,
.container2 .numbers input,
.container2 .email input,
.container2 .cEmail input {
    width: 200%;
}
